/* A debug class, used to separate components graphically during development */
.debug {
    border-style:solid;
}

.right-align {
    text-align: right;
}

.search-result {
    text-align: center;
    display: flex;
    flex-wrap: wrap;

}

.search-result-object {
    width: 30%; /* Adjust this value based on your requirements */
    vertical-align: top;
    margin: 10px;

}

.img-align {
    margin: 10px; /* Use a unit like px or % */
}

.rowC {
    display:flex; 
    flex-direction:row;
}

.title {
    margin-bottom: 10px; 
    font-weight: bold;
    font-size: larger;
}

.sidebar {
    flex: 0 0 200px;

}
.mainContent {
    flex: 1
}

@media (min-width: 550px){ 
    .flexParent {
        display:flex;
        flex-direction: row;
    }
}